<!--<app-header></app-header>-->
<!--app-main></app-main-->
<!--<hero-form></hero-form>
<input-sample></input-sample>
<app-footer></app-footer>-->
<div class="container">
    <div class="row">
        <div class="col-md-7 col-md-offset-3 weather-box">
            <!--<weather-details>-->
                <div class="col-md-12">
                    <div class="weather-location">Srinivasa Nagar, Ameerpet, Hyderabad, Telangana</div>
                    <div class="weather-day font-roboto">Tuesday</div>
                    <div class="weather-status font-roboto">Partly Cloudy</div>
                </div>
            <!--</weather-details>-->
                 <div class="col-md-12">
                     <div class="weather-img pull-left">
                         <img src="assets/partlycloudy.svg" >
                     </div>
                     <div class="col-md-3">
                        <div class="font-roboto-temp pull-left">40</div>
                        <div class="pull-left " style="margin-top:5px">
                            °C | °F
                        </div>
                    </div>

                    <div class="col-md-4 pull-right font-roboto">
                        <div>Precipitation: 20%</div> 
                        <div>Humidity: 34%</div> 
                        <div>Wind: 8km/h</div> 
                    </div>    
                 </div>
            <!--<weather-graph>-->

            <!--</weather-graph>-->
            <!--<weather-catalog>-->
                    <div class="col-md-12 weather-catalog">
                        <div class="col-md-2 font-roboto selected">
                                <div >Tue</div>
                                <div class="weather-img1 col-md-offset-2">
                                    <img src="assets/partlycloudy.svg">
                                </div>
                                <div>
                                    37° 25°
                                </div>
                        </div>
                         <div class="col-md-2 font-roboto">
                                asdf
                        </div>
                    </div>
            <!--</weather-catalog>-->
        </div>
    </div>
</div>