{{diagnostic}}
<div class="container">
<div class=" col-md-offset-3 col-md-6 clear_fix">
<div class="panel panel-default">
  <div class="panel-body">
    <h1>Hero Form</h1>
    <form #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" #name class="form-control" [(ngModel)]="model.name" name="name" id="name" required>
        <br>TODO: remove this: {{name.className}}
      </div>
      <div class="form-group">
        <label>Gender : </label>
        <label class="radio-inline"><input #r1 class="form-control" type="radio" [(ngModel)]="model.gender"   name="gender" value="male" tex>Male </label> 
        <label class="radio-inline"><input #r2 type="radio" class="form-control" [(ngModel)]="model.gender"  value="female" name="gender">Female</label>
      </div>
      <div class="form-group">
        <label>select Tier</label>
        <select class="form-control" [(ngModel)]="model.power" name="power">
          <option *ngFor="let o of options" ng-value="o" [innerText]="o"></option>
        </select>
      </div>
      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" [(ngModel)]="model.alterEgo" name="alterEgo" id="alterEgo">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" (click) = "heroForm.reset()">Reset</button>
    </form>
</div>
</div>
</div>
</div>